<div class="container">

    <div class="photo">
        <img src="https://th.bing.com/th/id/OIP.JiIlZ7BCg0GAClxVDv7-jQHaEK?pid=ImgDet&rs=1" alt="" srcset="">
    </div>

    <div class="title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="description">
        <p>
            <a href="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quas. Necessitatibus hic ipsum neque
                eligendi, reprehenderit fuga accusantium illo pariatur nostrum! Harum voluptas at aut non velit,
                voluptatibus molestiae animi.
            </a>
        </p>
    </div>

</div>